.main{
   
    background: url('../image/day_sun.jpg') no-repeat !important;
    background-size: 100% 100% !important;    
    -moz-background-size: 100% 100%!important;
    -webkit-background-size: 100% 100%!important;
}
.imgMain{
    background: url('/image/sunEarth.jpg') no-repeat;
    background-size: 100% 100% !important;
}