@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.main{
    background: url('../image/day_sun.jpg') no-repeat !important;
     background-size: cover !important; 
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
   
    width:100vw !important;
}
.imgMain{
    background: url('/image/sunEarth.jpg') no-repeat;
    background-size: 100% 100% !important;
}
.linkscustom{
    color: black;
    text-decoration-line: none;
    
}
.general-template-container{
    background-color:#f7f7f7;
    cursor: pointer;
}
.ctn-paneles-aplicaciones {
	border-radius: 4px;
    background-color:#f7f7f7;
    margin:12px 5px 5px 5px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3); 
}
/* tamaño de los nav*/
.x-treelist-item-tool, .x-treelist-row, .x-treelist-item-wrap{
    line-height:70px !important;
}
/*Estilo de la letra e íconos del treelist o menú lateral izquierda*/
/* Estilo icono y texto  */
.x-treelist-item-text{
    text-align: center;
}
/*Estilos del texto de los items del treelist*/
.x-treelist-navigation .x-treelist-item-text{
    color:#cbe5f1 !important;
    position: relative !important;
    /*float: left !important;*/
    width: 80px !important;
    margin-left:0px !important;
    margin-right:0px !important;
    font-size:12px !important;
    line-height: 12px !important;
}
/*Estilos de iconos de los items del treelist*/
.x-treelist-navigation .x-treelist-item-icon, .x-treelist-navigation .x-treelist-item-tool{
    color:#cbe5f1 !important;
    position: relative !important;
    /*float: left !important;*/
    font-size: 32px !important;
    width: 80px !important;
    height: 52px !important;
}
/* Color blanco en imagen y texto cuando esta seleccionado */
.x-treelist-navigation .x-treelist-item-selected .x-treelist-item-text, .x-treelist-navigation .x-treelist-item-selected .x-treelist-item-icon{
    color: #f0f0f0 !important;
}
.pnl-principal-style{
    background: white !important;
}

/*Estilos pnl_UVI*/
.text_var{
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px;
    font-family: merriweather;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 1px;
}
.text_title_infUVI{
    font-family: sofia-pro, sans-serif;
    color: rgb(174, 12, 214);
    text-align: center;
    font-size: 20px;
}

